<nav class='navbar navbar-expand-lg navbar-dark bg-secondary my-0'>
  <div class= 'container-fluid mx-0'>
    <%= link_to 'GAPTIME', pages_path, class: 'navbar-brand' %>
    <% if user_signed_in? %>
      <ul class='navbar-nav'>
        <li class='nav-item'>
          <h4 class= 'nav-link active'> ID： <%= current_user.email %> |</h4>
        </li>
        <li class='nav-item'>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link active' %>
        </li>
      </ul>
    <% else %>
      <ul class='navbar-nav'>
        <li class='nav-item'>
          <%= link_to 'ログイン', new_user_session_path, class: 'nav-link active' %>
        </li>
        <li class='nav-item'>
          <%= link_to '新規登録', new_user_registration_path, class: 'nav-link active' %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>
